@font-face {
  font-family: Founder;
  src: url(/docs/images/FoundersGroteskCondensed-Bold.woff2);
}

@font-face {
  font-family: CardinalR;
  src: url(/docs/images/cardinalfruitweb-regular.woff2);
}

@font-face {
  font-family: Cardinali;
  src: url(/docs/images/cardinalfruitweb-italic.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}


body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #212529;
  /* min-height: 100vh; */
  /* background: url(./images/bg2.png); */
}



.orange-line {
  height: 1px;
  width: 50px;
  background-color: #ff4301;
}


/* ------------------- Intro Loader --------------------- */
/* @keyframes appear {
  from{
    opacity: 0;
    transform: translateX(-100px); 
    scale: 0;
  }
  to{
    opacity: 1;
    transform: translateX(0px);
    scale: 1;
  }
}


.about, #hanging-icons, .project-1, #tools, #contact_container {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.intro {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  transition: 1s;
}

.span-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.logo-opener {
  height: 100px;
}

.span1{
  position: relative;
  align-items: center;
  bottom: -20px;
  opacity: 0;
  font-size: 0.4rem;
  filter: brightness(0) saturate(100%) invert(36%) sepia(44%) saturate(7112%) hue-rotate(2deg) brightness(105%) contrast(104%);
}

.span1.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.span1.fade {
  bottom: 150px;
  opacity: 0  ;
  transition: ease-in-out 0.5s;
} */
/* ------------------- Intro Loader --------------------- */



/* ------------------- Navbar --------------------- */
.nav-item {
  transition: all 0.5s;
}

.nav-item:hover {
  color: #ff4301;
  font-weight: bold;
  border-bottom: 2px solid #ff4301;
}

#navbar{
  z-index: 1;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 20px;
  background-color: rgba(34, 34, 34, 0.9);
  padding-bottom: 20px;
  box-shadow: 0px 1px 30px 
  rgba(0, 0, 0, 0.2);
}

#navbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 67, 1, 0.4), transparent);
  transition: .9s;
}

#navbar:hover::before {
  left: 100%;
}

.logo {
  height: 40px;
  filter: brightness(0) saturate(100%) invert(36%) sepia(44%) saturate(7112%) hue-rotate(2deg) brightness(105%) contrast(104%);
}

.navbar-toggler {
  filter: brightness(0) saturate(100%) invert(36%) sepia(44%) saturate(7112%) hue-rotate(2deg) brightness(105%) contrast(104%);
}

.sidebar {
  background-color: rgb(37, 37, 37);
}
/* ------------------- Navbar --------------------- */



/* ------------------- sides icon and text --------------------- */
.icons {
  bottom: -50px;
  left: 40px;
  transform: translateY(-50%);
  position: fixed;
  
}

.icons i {
  display: block;
  font-size: 20px;
  transition: all .30s;
  margin-bottom: 10px;
}

.icons i:hover {
  font-size: 25px;
}

.name {
  position: absolute;
  color: white;
  writing-mode: vertical-lr;
  position: absolute;
  transform: rotate(180deg);
  bottom: 30px;
  right: 30px;
  font-size: 0.7rem;
  position: fixed;
}

.work-title, .work_position {
  color: #ff4301;
}
/* ------------------- sides icon and text --------------------- */



/* ------------------- Hero --------------------- */
#home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0px 0px 20px 
  rgba(0, 0, 0, 0.2);
}

#home button {
  height: 50px;
  width: 180px;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  border: 2px solid #ff4301;
  transition: 0.4s;
}

#home button:hover {
  height: 50px;
  width: 180px;
  border-radius: 50px;
  background-color: #ff4301;
  color: white;
  border-style: none;
  height: 60px;
  width: 190px;
  font-size: 1,.5rem;
  
}

#home_container {
  transform-origin: right;
  transform: skewY(-3deg);
}

.mrk-logo {
  height: 120px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(18%) saturate(2%) hue-rotate(47deg) brightness(112%) contrast(101%);
  transition: 0.4s;
}

.mrk-logo:hover {
  height: 130px;
}
/* ------------------- Hero --------------------- */





/* ------------------- About --------------------- */
#about {
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
}


.sample {
  text-align: justify;
}

#about-container h5 {
  color: #ff4301;
}

.container_1{
  margin: 0 auto;
  width: min(500px, 100%);
  color: white;
  cursor: pointer;
  transition: 150ms ease;
  
  display: grid;
  grid-template-rows: 1.5em 0fr;
}

.open{
  grid-template-rows: 2em 1fr;
}
p{
  padding-top: -2rem;
}
.hidden_1{
  padding-top: 1rem;
  overflow: hidden;
}


.container_2{
  margin: 0 auto;
  width: min(500px, 100%);
  color: white;
  cursor: pointer;
  transition: 150ms ease;
  display: grid;
  grid-template-rows: 1.5em 0fr;
}

.open{
  grid-template-rows: 2em 1fr;
}
p{
  padding-top: -2rem;
}
.hidden_2{
  padding-top: 1rem;
  overflow: hidden;
}

#work-experience, #education {
  transition: 0.2s;
}

#work-experience:hover {
  font-size: 1.1rem;
}
#education:hover {
  font-size: 1.1rem;
}


  /* ----Services---- */
.bg-orange {
  background-color: #ff4301;
}

.year {
  padding: 1px;
  height: 30px;
  width: 150px;
  background-color: #ff4301;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 0.6rem;
}
/* ------------------- About --------------------- */




/* ------------------- Project --------------------- */
#project {
  width: 100%;
  display: flex;
  color: white; 
  box-shadow: 0px 0px 20px 
  rgba(0, 0, 0, 0.2);
}

#project button {
  height: 50px;
  width: 180px;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  border: 2px solid #ff4301;
  transition: 0.4s;
}

#project button:hover {
  border-radius: 50px;
  background-color: #ff4301;
  color: white;
  font-size: 1,.5rem;
}

#project-image{
  transition: 0.5s;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.8;

}

#project-image:hover {
  /* transform-origin: right;
  transform: skewY(-1deg); */
  opacity: 1;
}
/* ------------------- Projects --------------------- */




/* ------------------- Tools --------------------- */
#tools {
  height: 100vh;
  width: 100%;
  display: flex;
  color: white; 
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}

#tool_container p {
  font-size: .7rem;
}

.tool-icon {
  height: 50px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  
  /* filter: brightness(0) saturate(100%) invert(46%) sepia(84%) saturate(706%) hue-rotate(345deg) brightness(99%) contrast(86%); */
}
/* ------------------- Tools --------------------- */

.scroll-icons {
  height: 100vh;
  width: 100%;
  padding-top: 3rem;
}

.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 120px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );
}

@keyframes scrollLeft {

  to {
    left: -200px;
  }

}



.item-left {
  width: 200px;
  height: 100px;
  background-color: rgba(85, 85, 85, 0.349);
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scrollRight {

  to {
    right: -200px;
  }

}
.item-right {
  width: 200px;
  height: 100px;
  background-color: rgba(85, 85, 85, 0.349);
  border-radius: 6px;
  position: absolute;
  right: max(calc(200px * 8), 100%);
  animation-name: scrollRight;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item p {
  color: white;
}
.item1{
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}
.item2{
  
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}
.item3{
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}
.item4{
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}
.item5{
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}
.item6{
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}
.item7{
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}
.item8{
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}





















/* ------------------- Sampla page --------------------- */
.sample-page {
  height: 100vh;
  width: 100%;
  background-color: #161616;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.project  h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25rem;
  text-align: center;
}

/* ------------- */
#main-p {
  height: 100vh;
  width: 100%;
}

#main {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #333;
}

#top {
  position: absolute;
  z-index: 9;
  top: 0%;
  width: 100%;
  height: 50vh;
  background-color: #fff;
  overflow: hidden;
}

#center {
  width: 100%;
  height: 100vh;
  background-color: #212529;
}

#bottom {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 50vh;
  background-color: #fff;
  overflow: hidden;
}


#main h1 {
  font-family: Founder;
  font-size: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#top-h {
  bottom: 43%;
}

#bottom-h {
  top: -1.5% !important
}

.content {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: "CardinalR";
  color: white;
}
/* ------------- */


/* ------------------- Sampla page --------------------- */




/* ------------------- Contact --------------------- */
#contact {
  height: 100vh;
  width: 100%;
  display: flex;
  color: white; 
  text-align: center;
  align-items: center;  
  box-shadow: 0px 0px 20px
  rgba(0, 0, 0, 0.2);
}

#contact button {
  height: 50px;
  width: 180px;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  border: 2px solid #ff4301;
  transition: 0.4s;
}

#contact button:hover {
  height: 50px;
  width: 180px;
  border-radius: 50px;
  background-color: #ff4301;
  color: white;
  border-style: none;
  height: 60px;
  width: 190px;
  font-size: 1,.5rem;
}

.text_orange {
  color: #ff4301;
}

.contact_icons {
  gap: 20px;
  display: flex;
  padding-top: 30px;
}
.contact_icons img {
  height: 30px;
  filter: brightness(0) saturate(100%) invert(36%) sepia(44%) saturate(7112%) hue-rotate(2deg) brightness(105%) contrast(104%);
  transition: 0.3s;
}

.contact_icons img:hover {
  height: 35px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(260deg) brightness(110%) contrast(101%);
}
/* ------------------- Contact --------------------- */





/* ------------------- Footer --------------------- */
footer {
  height: 5vh;
  background-color: #ff4301;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 1px 50px 
  rgba(43, 0, 255, 0.2);
  color: white;
}
/* ------------------- Footer --------------------- */












.project1 {
  width: 500px;
  height: 500px;
  background-color: gray;
}

.view {
  display: flex;
  float: right;
}



/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Section Styling */
.project-section {
  padding: 40px;
  display: flex;
  justify-content: center;
}

/* Grid Styling */
/* .project-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 20px;
max-width: 1200px;
width: 100%;
} */



/* The mobile-first pre-defined media queries:
xs
@media (min-width: 475px) {}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.screen_size {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.wide, .xl, .lg, .md, .sm, .sm, .xs {
  display: none;
}

/* The desktop-first pre-defined media queries: */
/* 2xl */
@media (max-width: 1536px) {
  .scree_size {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
  }
  .super, .xl, .lg, .md, .sm, .sm, .xs {
    display: none;
  }
  .wide {
    display: block;
  }

}

/* xl */
@media (max-width: 1280px) {
  .scree_size {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
  }
  .super, .wide, .lg, .md, .sm, .sm, .xs {
    display: none;
  }
  .xl {
    display: block;
    color: black;
  }
}

/* lg */
@media (max-width: 1024px) {
  .scree_size {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
  }
  
  .super, .wide, .xl, .md, .sm, .sm, .xs {
    display: none;
  }
  .lg {
    display: block;
  }
}

/* md */
@media (max-width: 768px) {
  .scree_size {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
  }
  
  .super, .wide, .xl, .lg, .sm, .xs {
    display: none;
  }
  .md {
    display: block;
  }
  #navbar{
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* sm */
@media (max-width: 640px) {
  .scree_size {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indigo;
  }
  
  .super, .wide, .xl, .lg, .md, .xs {
    display: none;
  }
  .sm {
    display: block;
  }
  
  #navbar{
    padding-left: 10%;
    padding-right: 10%;
  }

  .mrk-logo {
    height: 100px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(18%) saturate(2%) hue-rotate(47deg) brightness(112%) contrast(101%);
    transition: 0.4s;
  }
}

/* xs */
@media (max-width: 475px) {
  .scree_size {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
  }

  .super, .wide, .xl, .lg, .md, .sm {
    display: none;
  }
  .xs {
    display: block;
    color: black;
  }
  
  #navbar{
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .mrk-logo {
    height: 70px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(18%) saturate(2%) hue-rotate(47deg) brightness(112%) contrast(101%);
    transition: 0.4s;
  }

  .mrk-logo:hover {
    height: 75px;
  }
}