#navbar{
    padding: 20px 40px 0px 40px; 
}

html {
    scroll-behavior: smooth;
  }


body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(./images/bg2.png);
    min-height: 100vh;


}

.nav-item {
    transition: all 0.2s;
}
.nav-item:hover {
    color: #ff4301;
    font-weight: bold;
    border-bottom: 2px solid #ff4301;
}

#home {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(./images/bg2.png);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#about {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(./images/bg2.png);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.section2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(./images/bg2.png);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.section3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(./images/bg2.png);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.logo {
    height: 40px;
  
    filter: brightness(0) saturate(100%) invert(36%) sepia(44%) saturate(7112%) hue-rotate(2deg) brightness(105%) contrast(104%);
}

.icons {
    position: absolute;
    bottom: -50px;
    left: 40px;
    transform: translateY(-50%);
    position: fixed;
    
   
 
}

.icons i {
    display: block;
    font-size: 20px;
    transition: all .50s ease;
    margin-bottom: 10px;

    
}

.name {
    position: absolute;
    color: white;
    writing-mode: vertical-lr;
    position: absolute;
  
    transform: rotate(180deg);
    bottom: 30px;
 
    right: 30px;
    font-size: 0.7rem;
   
    position: fixed;
    
}

.work-title {
    color: #ff4301;
    
}

.navbar-toggler {
    filter: brightness(0) saturate(100%) invert(36%) sepia(44%) saturate(7112%) hue-rotate(2deg) brightness(105%) contrast(104%);
}

/* #section2 {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      padding-left: 5%;
    padding-right: 5%;  
}

#section3 {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: transparent;
    padding-left: 5%;
    padding-right: 5%;  
} */

.sidebar {
    background-color: rgb(37, 37, 37);
}


.myname {
    font-size: 3rem;
}